<h2>Favorites List</h2>
<% if @favorites.empty? %>
  <h4>You don't have any favorited tweets yet!</h4>
<% else %>
  <% @favorites.each do |f| %>
    <%= content_tag :div, class: "favorite favorite-#{f.id} panel panel-default" do -%>
      <div class="panel-body">
          <%= link_to "", unfavorite_path(f), method: :unfavorite, favorite: f.id, class: "glyphicon glyphicon-heart unfavorite-button" %>
        <%= f.tweet.body %>
      </div>
      <div class="panel-footer">
        <span class="type--small type--bold"><%= f.posted_by %></span>
        <span class="type--small"><%= f.posted_time %></span>
      </div>
    <% end -%>
  <% end %>
<% end %>
