<h2>Tweet List</h2>
<% if @tweets.empty? %>
  <h4>This Chirper hasn't chirped yet!</h4>
<% else %>
  <% @tweets.each do |t| %>
    <%= content_tag :div, class: "tweet tweet-#{t.id} panel panel-default" do -%>
      <div class="panel-body">
        <% if t.user.id == current_user.id %>
          <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-remove delete align-right"), tweet_path(t.id), method: :delete %>
        <% end %>
        <% if t.favorited?(current_user) %>
          <%= link_to "", unfavorite_path(t), method: :unfavorite, favorite: t, class: "glyphicon glyphicon-heart unfavorite-button" %>
        <% else %>
          <%= link_to "", favorite_path(t), method: :favorite, tweet: t, class: "glyphicon glyphicon-heart favorite-button" %>
        <% end %>
        <%= t.body %>
      </div>
      <div class="panel-footer">
        <span class="type--small type--bold"><%= t.user.username %></span>
        <span class="type--small"><%= t.posted_at %></span>
      </div>
    <% end -%>
  <% end %>
<% end %>
