<div class="row">
  <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
    <h1> New Chirpster </h1>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
    <%= form_for @user do |f| %>
      <%= content_tag :div, class: "form-group #{@user.errors[:username].any? ? 'has-error' : ''}" do -%>
        <%= f.label :username, class: "control-label" %>
        <%= f.text_field :username, class: "form-control" %>
        <% @user.errors[:username].each do |msg| %>
          <span class="help-block">
            <%= msg.humanize %>
          </span>
        <% end -%>
      <% end -%>

      <%= content_tag :div, class: "form-group #{@user.errors[:password].any? ? 'has-error' : ''}" do -%>
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, class: "form-control" %>
        <% @user.errors[:password].each do |msg| %>
          <span class="help-block">
            <%= msg.humanize %>
          </span>
        <% end -%>
      <% end -%>

      <%= content_tag :div, class: "form-group #{@user.errors[:password_confirmation].any? ? 'has-error' : ''}" do -%>
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <% @user.errors[:password_confirmation].each do |msg| %>
          <span class="help-block">
            <%= msg.humanize %>
          </span>
        <% end -%>
      <% end -%>
      <%= f.submit "Sign Up", class: "btn btn-default btn--purple full-width" %>
    <% end %>
  </div>
</div>
